ISOGEN-FILES
UNITS-BORE Inch
UNITS-CO-ORDS Feet
UNITS-WEIGHT Pounds
PIPELINE-REFERENCE TP007-Steel
    PIPING-SPEC Steel
    DATE-DMY 12-Jul-26
WELD
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''
    FAMILY Shop Weld - .125
    ITEM-CODE Weld-Joint
    COMPONENT-IDENTIFIER 1
    SKEY WELD
    PIPING-SPEC Steel
    SPOOL-ID CHWR-TEST-01
    END-POINT -103.687341 47.978253 0.000000 6
    END-POINT -103.676924 47.978253 0.000000 6
WELD
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''
    FAMILY Shop Weld - .125
    ITEM-CODE Weld-Joint
    COMPONENT-IDENTIFIER 2
    SKEY WELD
    PIPING-SPEC Steel
    SPOOL-ID CHWR-TEST-01
    END-POINT -84.145674 47.978253 0.000000 6
    END-POINT -84.135257 47.978253 0.000000 6
WELD
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''
    FAMILY Shop Weld - .125
    ITEM-CODE Weld-Joint
    COMPONENT-IDENTIFIER 3
    SKEY WELD
    PIPING-SPEC Steel
    SPOOL-ID CHWR-TEST-01
    END-POINT -93.291091 47.978253 0.000000 6
    END-POINT -93.280674 47.978253 0.000000 6
WELD
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''
    FAMILY Shop Weld - .125
    ITEM-CODE Weld-Joint
    COMPONENT-IDENTIFIER 4
    SKEY WELD
    PIPING-SPEC Steel
    SPOOL-ID CHWR-TEST-01
    END-POINT -92.344007 47.978253 0.000000 6
    END-POINT -92.333591 47.978253 0.000000 6
WELD
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''
    FAMILY Shop Weld - .125
    ITEM-CODE Weld-Joint
    COMPONENT-IDENTIFIER 5
    SKEY WELD
    PIPING-SPEC Steel
    SPOOL-ID CHWR-TEST-01
    END-POINT -92.812341 48.446587 0.000000 6
    END-POINT -92.812341 48.457003 0.000000 6
PIPE
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''
    FAMILY Pipe-A53-CS-(B-ERW)-SCH40-BLK(BV)
    ITEM-CODE 1
    COMPONENT-IDENTIFIER 6
    SKEY PIPE
    PIPING-SPEC Steel
    SPOOL-ID CHWR-TEST-01
    END-POINT -92.812341 48.457003 0.000000 6
    END-POINT -92.812341 49.457003 0.000000 6
PIPE
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''
    FAMILY Pipe-A53-CS-(B-ERW)-SCH40-BLK(BV)
    ITEM-CODE 2
    COMPONENT-IDENTIFIER 7
    SKEY PIPE
    PIPING-SPEC Steel
    SPOOL-ID CHWR-TEST-01
    END-POINT -103.676924 47.978253 0.000000 6
    END-POINT -93.291091 47.978253 0.000000 6
PIPE
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''
    FAMILY Pipe-A53-CS-(B-ERW)-SCH40-BLK(BV)
    ITEM-CODE 3
    COMPONENT-IDENTIFIER 8
    SKEY PIPE
    PIPING-SPEC Steel
    SPOOL-ID CHWR-TEST-01
    END-POINT -92.333591 47.978253 0.000000 6
    END-POINT -84.145674 47.978253 0.000000 6
TEE
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''x6''x2''
    FAMILY Tee Reducing
    ITEM-CODE 4
    COMPONENT-IDENTIFIER 9
    SKEY TEE
    PIPING-SPEC Steel
    SPOOL-ID CHWR-TEST-01
    END-POINT -84.135257 47.978253 0.000000 6
    END-POINT -83.198591 47.978253 0.000000 6
    END-POINT -83.666924 48.374087 0.000000 2
    CENTRE-POINT -84.135257 47.978253 0.000000
OLET
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''x2-1/2''
    FAMILY Anvilets (BW)
    ITEM-CODE 5
    COMPONENT-IDENTIFIER 10
    SKEY OLET
    PIPING-SPEC Steel
    SPOOL-ID CHWR-TEST-01
    END-POINT -102.176924 47.978253 0.000000 6
    END-POINT -102.176924 47.978253 0.385417 6
OLET
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''x2-1/2''
    FAMILY Anvilets (BW)
    ITEM-CODE 5
    COMPONENT-IDENTIFIER 11
    SKEY OLET
    PIPING-SPEC Steel
    SPOOL-ID CHWR-TEST-01
    END-POINT -99.260257 47.978253 0.000000 6
    END-POINT -99.260257 47.978253 0.385417 6
OLET
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''x2-1/2''
    FAMILY Anvilets (BW)
    ITEM-CODE 5
    COMPONENT-IDENTIFIER 12
    SKEY OLET
    PIPING-SPEC Steel
    SPOOL-ID CHWR-TEST-01
    END-POINT -96.176924 47.978253 0.000000 6
    END-POINT -96.176924 47.978253 0.385417 6
TEE
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''
    FAMILY Tee Equal
    ITEM-CODE 6
    COMPONENT-IDENTIFIER 13
    SKEY TEE
    PIPING-SPEC Steel
    SPOOL-ID CHWR-TEST-01
    END-POINT -93.280674 47.978253 0.000000 6
    END-POINT -92.344007 47.978253 0.000000 6
    END-POINT -92.812341 48.446587 0.000000 6
    CENTRE-POINT -93.280674 47.978253 0.000000
FLANGE
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6"
    FAMILY Weld Neck Flange 150lb STD FF
    ITEM-CODE 7
    COMPONENT-IDENTIFIER 14
    SKEY FLANGE
    PIPING-SPEC Steel
    SPOOL-ID CHWR-TEST-01
    END-POINT -103.687341 47.978253 0.000000 6
    END-POINT -103.974007 47.978253 0.000000 6
WELD
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''
    FAMILY Shop Weld - .125
    ITEM-CODE Weld-Joint
    COMPONENT-IDENTIFIER 15
    SKEY WELD
    PIPING-SPEC Steel
    SPOOL-ID CHWR-TEST-02
    END-POINT -103.687341 45.728253 0.000000 6
    END-POINT -103.676924 45.728253 0.000000 6
WELD
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''
    FAMILY Shop Weld - .125
    ITEM-CODE Weld-Joint
    COMPONENT-IDENTIFIER 16
    SKEY WELD
    PIPING-SPEC Steel
    SPOOL-ID CHWR-TEST-02
    END-POINT -84.145674 45.728253 0.000000 6
    END-POINT -84.135257 45.728253 0.000000 6
WELD
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''
    FAMILY Shop Weld - .125
    ITEM-CODE Weld-Joint
    COMPONENT-IDENTIFIER 17
    SKEY WELD
    PIPING-SPEC Steel
    SPOOL-ID CHWR-TEST-02
    END-POINT -93.291091 45.728253 0.000000 6
    END-POINT -93.280674 45.728253 0.000000 6
WELD
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''
    FAMILY Shop Weld - .125
    ITEM-CODE Weld-Joint
    COMPONENT-IDENTIFIER 18
    SKEY WELD
    PIPING-SPEC Steel
    SPOOL-ID CHWR-TEST-02
    END-POINT -92.344007 45.728253 0.000000 6
    END-POINT -92.333591 45.728253 0.000000 6
WELD
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''
    FAMILY Shop Weld - .125
    ITEM-CODE Weld-Joint
    COMPONENT-IDENTIFIER 19
    SKEY WELD
    PIPING-SPEC Steel
    SPOOL-ID CHWR-TEST-02
    END-POINT -92.812341 46.196587 0.000000 6
    END-POINT -92.812341 46.207003 0.000000 6
PIPE
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''
    FAMILY Pipe-A53-CS-(B-ERW)-SCH40-BLK(BV)
    ITEM-CODE 1
    COMPONENT-IDENTIFIER 20
    SKEY PIPE
    PIPING-SPEC Steel
    SPOOL-ID CHWR-TEST-02
    END-POINT -92.812341 46.207003 0.000000 6
    END-POINT -92.812341 47.207003 0.000000 6
PIPE
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''
    FAMILY Pipe-A53-CS-(B-ERW)-SCH40-BLK(BV)
    ITEM-CODE 2
    COMPONENT-IDENTIFIER 21
    SKEY PIPE
    PIPING-SPEC Steel
    SPOOL-ID CHWR-TEST-02
    END-POINT -103.676924 45.728253 0.000000 6
    END-POINT -93.291091 45.728253 0.000000 6
PIPE
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''
    FAMILY Pipe-A53-CS-(B-ERW)-SCH40-BLK(BV)
    ITEM-CODE 3
    COMPONENT-IDENTIFIER 22
    SKEY PIPE
    PIPING-SPEC Steel
    SPOOL-ID CHWR-TEST-02
    END-POINT -92.333591 45.728253 0.000000 6
    END-POINT -84.145674 45.728253 0.000000 6
OLET
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''x2-1/2''
    FAMILY Anvilets (BW)
    ITEM-CODE 4
    COMPONENT-IDENTIFIER 23
    SKEY OLET
    PIPING-SPEC Steel
    SPOOL-ID CHWR-TEST-02
    END-POINT -102.176924 45.728253 0.000000 6
    END-POINT -102.176924 45.728253 0.385417 6
OLET
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''x2-1/2''
    FAMILY Anvilets (BW)
    ITEM-CODE 4
    COMPONENT-IDENTIFIER 24
    SKEY OLET
    PIPING-SPEC Steel
    SPOOL-ID CHWR-TEST-02
    END-POINT -99.260257 45.728253 0.000000 6
    END-POINT -99.260257 45.728253 0.385417 6
OLET
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''x2-1/2''
    FAMILY Anvilets (BW)
    ITEM-CODE 4
    COMPONENT-IDENTIFIER 25
    SKEY OLET
    PIPING-SPEC Steel
    SPOOL-ID CHWR-TEST-02
    END-POINT -96.176924 45.728253 0.000000 6
    END-POINT -96.176924 45.728253 0.385417 6
ELBOW
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''
    FAMILY Elbow 90 SR
    ITEM-CODE 5
    COMPONENT-IDENTIFIER 26
    SKEY ELBOW
    PIPING-SPEC Steel
    SPOOL-ID CHWR-TEST-02
    END-POINT -83.635257 46.228253 0.000000 6
    END-POINT -84.135257 45.728253 0.000000 6
    CENTRE-POINT -83.635257 45.728253 0.000000
TEE
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''
    FAMILY Tee Equal
    ITEM-CODE 6
    COMPONENT-IDENTIFIER 27
    SKEY TEE
    PIPING-SPEC Steel
    SPOOL-ID CHWR-TEST-02
    END-POINT -93.280674 45.728253 0.000000 6
    END-POINT -92.344007 45.728253 0.000000 6
    END-POINT -92.812341 46.196587 0.000000 6
    CENTRE-POINT -93.280674 45.728253 0.000000
FLANGE
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6"
    FAMILY Weld Neck Flange 150lb STD FF
    ITEM-CODE 7
    COMPONENT-IDENTIFIER 28
    SKEY FLANGE
    PIPING-SPEC Steel
    SPOOL-ID CHWR-TEST-02
    END-POINT -103.687341 45.728253 0.000000 6
    END-POINT -103.974007 45.728253 0.000000 6
WELD
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''
    FAMILY Shop Weld - .125
    ITEM-CODE Weld-Joint
    COMPONENT-IDENTIFIER 29
    SKEY WELD
    PIPING-SPEC Steel
    SPOOL-ID CHWS-TEST-01
    END-POINT -103.687341 43.311587 0.000000 6
    END-POINT -103.676924 43.311587 0.000000 6
WELD
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''
    FAMILY Shop Weld - .125
    ITEM-CODE Weld-Joint
    COMPONENT-IDENTIFIER 30
    SKEY WELD
    PIPING-SPEC Steel
    SPOOL-ID CHWS-TEST-01
    END-POINT -93.322341 43.311587 0.000000 6
    END-POINT -93.311924 43.311587 0.000000 6
WELD
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''
    FAMILY Shop Weld - .125
    ITEM-CODE Weld-Joint
    COMPONENT-IDENTIFIER 31
    SKEY WELD
    PIPING-SPEC Steel
    SPOOL-ID CHWS-TEST-01
    END-POINT -92.375257 43.311587 0.000000 6
    END-POINT -92.364841 43.311587 0.000000 6
WELD
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''
    FAMILY Shop Weld - .125
    ITEM-CODE Weld-Joint
    COMPONENT-IDENTIFIER 32
    SKEY WELD
    PIPING-SPEC Steel
    SPOOL-ID CHWS-TEST-01
    END-POINT -92.843591 43.779920 0.000000 6
    END-POINT -92.843591 43.790337 0.000000 6
PIPE
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''
    FAMILY Pipe-A53-CS-(B-ERW)-SCH40-BLK(BV)
    ITEM-CODE 1
    COMPONENT-IDENTIFIER 33
    SKEY PIPE
    PIPING-SPEC Steel
    SPOOL-ID CHWS-TEST-01
    END-POINT -92.843591 43.790337 0.000000 6
    END-POINT -92.843591 44.790337 0.000000 6
PIPE
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''
    FAMILY Pipe-A53-CS-(B-ERW)-SCH40-BLK(BV)
    ITEM-CODE 2
    COMPONENT-IDENTIFIER 34
    SKEY PIPE
    PIPING-SPEC Steel
    SPOOL-ID CHWS-TEST-01
    END-POINT -103.676924 43.311587 0.000000 6
    END-POINT -93.322341 43.311587 0.000000 6
PIPE
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''
    FAMILY Pipe-A53-CS-(B-ERW)-SCH40-BLK(BV)
    ITEM-CODE 3
    COMPONENT-IDENTIFIER 35
    SKEY PIPE
    PIPING-SPEC Steel
    SPOOL-ID CHWS-TEST-01
    END-POINT -92.364841 43.311587 0.000000 6
    END-POINT -83.676924 43.311587 0.000000 6
OLET
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''x2-1/2''
    FAMILY Anvilets (BW)
    ITEM-CODE 4
    COMPONENT-IDENTIFIER 36
    SKEY OLET
    PIPING-SPEC Steel
    SPOOL-ID CHWS-TEST-01
    END-POINT -96.176924 43.311587 0.000000 6
    END-POINT -96.176924 43.311587 0.385417 6
OLET
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''x2-1/2''
    FAMILY Anvilets (BW)
    ITEM-CODE 4
    COMPONENT-IDENTIFIER 37
    SKEY OLET
    PIPING-SPEC Steel
    SPOOL-ID CHWS-TEST-01
    END-POINT -99.260257 43.311587 0.000000 6
    END-POINT -99.260257 43.311587 0.385417 6
OLET
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''x2-1/2''
    FAMILY Anvilets (BW)
    ITEM-CODE 4
    COMPONENT-IDENTIFIER 38
    SKEY OLET
    PIPING-SPEC Steel
    SPOOL-ID CHWS-TEST-01
    END-POINT -102.176924 43.311587 0.000000 6
    END-POINT -102.176924 43.311587 0.385417 6
TEE
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''
    FAMILY Tee Equal
    ITEM-CODE 5
    COMPONENT-IDENTIFIER 39
    SKEY TEE
    PIPING-SPEC Steel
    SPOOL-ID CHWS-TEST-01
    END-POINT -93.311924 43.311587 0.000000 6
    END-POINT -92.375257 43.311587 0.000000 6
    END-POINT -92.843591 43.779920 0.000000 6
    CENTRE-POINT -93.311924 43.311587 0.000000
FLANGE
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6"
    FAMILY Weld Neck Flange 150lb STD FF
    ITEM-CODE 6
    COMPONENT-IDENTIFIER 40
    SKEY FLANGE
    PIPING-SPEC Steel
    SPOOL-ID CHWS-TEST-01
    END-POINT -103.687341 43.311587 0.000000 6
    END-POINT -103.974007 43.311587 0.000000 6
WELD
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''
    FAMILY Shop Weld - .125
    ITEM-CODE Weld-Joint
    COMPONENT-IDENTIFIER 41
    SKEY WELD
    PIPING-SPEC Steel
    SPOOL-ID CHWS-TEST-02
    END-POINT -103.687341 40.978253 0.000000 6
    END-POINT -103.676924 40.978253 0.000000 6
WELD
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''
    FAMILY Shop Weld - .125
    ITEM-CODE Weld-Joint
    COMPONENT-IDENTIFIER 42
    SKEY WELD
    PIPING-SPEC Steel
    SPOOL-ID CHWS-TEST-02
    END-POINT -83.676924 40.978253 0.000000 6
    END-POINT -83.666507 40.978253 0.000000 6
WELD
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''
    FAMILY Shop Weld - .125
    ITEM-CODE Weld-Joint
    COMPONENT-IDENTIFIER 43
    SKEY WELD
    PIPING-SPEC Steel
    SPOOL-ID CHWS-TEST-02
    END-POINT -93.322341 40.978253 0.000000 6
    END-POINT -93.311924 40.978253 0.000000 6
WELD
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''
    FAMILY Shop Weld - .125
    ITEM-CODE Weld-Joint
    COMPONENT-IDENTIFIER 44
    SKEY WELD
    PIPING-SPEC Steel
    SPOOL-ID CHWS-TEST-02
    END-POINT -92.375257 40.978253 0.000000 6
    END-POINT -92.364841 40.978253 0.000000 6
WELD
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''
    FAMILY Shop Weld - .125
    ITEM-CODE Weld-Joint
    COMPONENT-IDENTIFIER 45
    SKEY WELD
    PIPING-SPEC Steel
    SPOOL-ID CHWS-TEST-02
    END-POINT -92.843591 41.446587 0.000000 6
    END-POINT -92.843591 41.457003 0.000000 6
PIPE
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''
    FAMILY Pipe-A53-CS-(B-ERW)-SCH40-BLK(BV)
    ITEM-CODE 1
    COMPONENT-IDENTIFIER 46
    SKEY PIPE
    PIPING-SPEC Steel
    SPOOL-ID CHWS-TEST-02
    END-POINT -92.843591 41.457003 0.000000 6
    END-POINT -92.843591 42.457003 0.000000 6
PIPE
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''
    FAMILY Pipe-A53-CS-(B-ERW)-SCH40-BLK(BV)
    ITEM-CODE 2
    COMPONENT-IDENTIFIER 47
    SKEY PIPE
    PIPING-SPEC Steel
    SPOOL-ID CHWS-TEST-02
    END-POINT -103.676924 40.978253 0.000000 6
    END-POINT -93.322341 40.978253 0.000000 6
PIPE
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''
    FAMILY Pipe-A53-CS-(B-ERW)-SCH40-BLK(BV)
    ITEM-CODE 3
    COMPONENT-IDENTIFIER 48
    SKEY PIPE
    PIPING-SPEC Steel
    SPOOL-ID CHWS-TEST-02
    END-POINT -92.364841 40.978253 0.000000 6
    END-POINT -83.676924 40.978253 0.000000 6
OLET
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''x2-1/2''
    FAMILY Anvilets (BW)
    ITEM-CODE 4
    COMPONENT-IDENTIFIER 49
    SKEY OLET
    PIPING-SPEC Steel
    SPOOL-ID CHWS-TEST-02
    END-POINT -102.176924 40.978253 0.000000 6
    END-POINT -102.176924 40.978253 0.385417 6
OLET
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''x2-1/2''
    FAMILY Anvilets (BW)
    ITEM-CODE 4
    COMPONENT-IDENTIFIER 50
    SKEY OLET
    PIPING-SPEC Steel
    SPOOL-ID CHWS-TEST-02
    END-POINT -99.260257 40.978253 0.000000 6
    END-POINT -99.260257 40.978253 0.385417 6
OLET
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''x2-1/2''
    FAMILY Anvilets (BW)
    ITEM-CODE 4
    COMPONENT-IDENTIFIER 51
    SKEY OLET
    PIPING-SPEC Steel
    SPOOL-ID CHWS-TEST-02
    END-POINT -96.176924 40.978253 0.000000 6
    END-POINT -96.176924 40.978253 0.385417 6
TEE
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6''
    FAMILY Tee Equal
    ITEM-CODE 5
    COMPONENT-IDENTIFIER 52
    SKEY TEE
    PIPING-SPEC Steel
    SPOOL-ID CHWS-TEST-02
    END-POINT -93.311924 40.978253 0.000000 6
    END-POINT -92.375257 40.978253 0.000000 6
    END-POINT -92.843591 41.446587 0.000000 6
    CENTRE-POINT -93.311924 40.978253 0.000000
FLANGE
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6"
    FAMILY Weld Neck Flange 150lb STD FF
    ITEM-CODE 6
    COMPONENT-IDENTIFIER 53
    SKEY FLANGE
    PIPING-SPEC Steel
    SPOOL-ID CHWS-TEST-02
    END-POINT -103.687341 40.978253 0.000000 6
    END-POINT -103.974007 40.978253 0.000000 6
FLANGE
    NOMINAL-SIZE 6
    PRODUCT-ENTRY 6"
    FAMILY Weld Neck Flange 150lb STD FF
    ITEM-CODE 6
    COMPONENT-IDENTIFIER 54
    SKEY FLANGE
    PIPING-SPEC Steel
    SPOOL-ID CHWS-TEST-02
    END-POINT -83.666507 40.978253 0.000000 6
    END-POINT -83.379841 40.978253 0.000000 6
